
.header {
    text-align: center;
  }

.category {
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }


  
  @font-face{
      font-family:'DNFBitBitv2';
      font-style: normal; 
      font-weight:400; 
      src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
    }
  
  .custom-font{
      font-family: 'DNFBitBitv2', sans-serif;
      color: #FFB834;
      text-shadow: 4px 4px 0 #783E19; /* X, Y, blur-radius, color */   
      text-align: center;
      
    }
  
   body {
      background-color: #BA9470;
    }

